@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('./images/bg-pattern-top.svg'), url('./images/bg-pattern-bottom.svg');
    background-position: top -500px left -300px, bottom -500px right -300px;
    background-repeat: no-repeat, no-repeat;
    background-color: hsl(185, 75%, 39%);
    font-family: 'Kumbh Sans', sans-serif;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 18px;
}

.card {
    width: 380px;
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #fff;
}

.top {
    background: url('./images/bg-pattern-card.svg');
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 16px 16px 0 0;
    height: 160px;
}

.avatar {
    border-radius: 50%;
    border: 3px solid #fff;
    position: relative;
    bottom: -100px;
    left: 140px;
}

.middle {
    text-align: center;
    padding-top: 48px;
    padding-bottom: 26px;
}

.middle h3 {
    line-height: 1.8;
}

.text-gray {
    color: hsl(0, 0%, 59%);
}

.bottom {
    border-top: 1px solid hsl(0, 0%, 59%);
    padding: 28px 46px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col {
    flex: 1;
    text-align: center;
}
